@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<h2>Welcome to the Admin Dashboard</h2>
<p>This is the admin control panel.</p>



<form asp-controller="Booking" asp-action="ResetBookings" method="post">
    <button type="submit" class="btn btn-danger">Reset All Bookings</button>
</form>